
.multi-slider-container{
	width: auto;
	padding: 12px 0;
	margin: 0 15px;
}
.slider {
		width: 85%;
		margin: 0;
		padding: 0;
		float: none;
}	
.multislider .slider .noUi-handle:before {
	display:none;
}
.multislider .noUi-handle {
	border-radius: 50%;
		-webkit-box-shadow: 0px 3px 22px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 22px -4px rgba(0, 0, 0, 0.3);
    width: 25px;
    height: 25px;
    top: 0;
    margin-left: -5px;
    background-color: #F5F7FA;
    border: 2px solid #D1DBE3;
}
.multislider  .noUi-base:after {
	width: 93%;
	height: 6px;
	display: block;
	content: "";
	background: #D1DBE3;
	margin: 1px 10px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.multislider  .noUi-base {
	width: calc(98%);
}
.multislider .noUi-base .noUi-connects{
	width: calc(98%);
	height: 6px;
	overflow:visible;

}
.multislider .noUi-base .noUi-connect {
    border: none;
    height: 6px;
    padding: 0;
    margin: 7px 0 0 7px;
	transform:scale(none);
		-webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: #ff6002;
    background: -webkit-linear-gradient(300deg, #FFB414, #FF5800);
    background: -moz-linear-gradient(300deg, #FFB414, #FF5800);
    background: -o-linear-gradient(300deg, #FFB414, #FF5800);
    background: linear-gradient(30deg, #FFB414, #FF5800);
	width: 100%;
}
.multislider .noUi-handle:after{
	display:none;
}

.multislider .noUi-handle:before{
	content: "";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #434a54;
	position: absolute;
	left: 50%;
	top: -19px;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	background:none;
}


	.title-container {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;	
		-webkit-justify-content: space-between;
		-ms-flex-pack: space-between;
		justify-content: space-between;
		width:100%;
		margin-bottom: 10px;
	}
	.slider-input-container{
		width:100%;
		display:flex;
		margin-bottom:0;
		align-content: center;
    align-items: center;
	}

	.range-input-container{
		width: 100%;
		float:left;
		margin-bottom:17px;
	}


	.slider-title, .multiAssessment .slider-title{
    font-size: 14px;
		margin-left:15px;
		font-weight: normal;
		font-size: 14px;
		color: #424A55;
		line-height: 19px;

	}
	.has-tooltip {
		background: none;
		border: 1px solid #444;
		color: #444;
		border-radius: 50%;
		font-weight: 600;
		width: 16px;
		height: 16px;
		text-align: center;
		display:block;
		justify-content: flex-end;
		align-content: center;
		align-items: center;
		padding-bottom:2px;
		margin-right:15px;
}
	.has-tooltip:hover{
		color: #444;
		}

	.number-box {
		float:left;
		width: 66px;
		height: 30px;
		font-size: 18px;
		color: #424A55;
		text-align: center;
		line-height: 22px;
		background: #ffffff;
		border: 1px solid #D1DBE3;
		-moz-border-radius:5px;
    -webkit-border-radius:5px;
		border-radius: 5px;
		margin-left:10px;
	}
	input[type='number'] {
		-moz-appearance:textfield;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
	.has-tooltip {
		background: transparent;
		border: 1px solid #444;
		border-radius: 50%;
		font-weight: 600;
		width: 16px;
		height: 16px;
		text-align: center;
		display:inline-flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		line-height:8px;
		float:right;
		margin-right:15px;
}
	.total{
		width: 62%;
		display:block;
		padding-top:0;
		text-align: center;
		display:inline-flex;
		justify-content: flex-end;
		align-content: flex-end;
		align-items: flex-end;
	}
	.total h3{
		display:block;
		font-weight: 400;
		font-size: 24px;
		color: #6D7886;
		line-height: 22px;
		margin: 8px 0 0 0;

	}
.range-container {
	width: 425px;
	height: 25px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;	
	-moz-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	justify-content: center;
}
.range-container:before{
	content:"";
	width: 425px;
	height: 25px;
	background:#F6F6F6;
	-moz-border-radius:70.4px;
	-webkit-border-radius:70.4px;
	border-radius: 70.4px;
	position:absolute;
	z-index:-99;
		
	}
.multislider .noUi-target {
    border-radius: 25px;
    height: 20px;
    border: 0;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    margin: 0;
}
.multislider .ui-tooltip:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	left: 39%;
	top:-10px;
	-webkit-transform: translate(30%, 0);
	-ms-transform: translate(30%, 0);
	transform: translate(30%, 0);
}
@media (min-width: 768px) {

	.multislider .noUi-base:after{
		width: 99%;
		right:0;
		}
}
	@media (min-width: 991px) {
		ul.boolean-input{
			padding:0 30px;
		}
		ul.boolean-input li:nth-of-type(3n){
			margin-right:0;
			margin-left:0;

		}
		.not-selected:hover{
			opacity: 1;
			-webkit-box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2);
			box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2);
	}
		.title-container {
			width: 52%;
		}
		.multislider .noUi-base .noUi-connect {
			margin: 10px 0 0 10px;
		}
		.multislider .noUi-base:after {
			width: calc(100% - 13px);
    	right: 3px;
    	margin: 3px 10px;
		}
		.multislider .noUi-target {
			height: 23px;
		}
		.slider-input-container{
			width: 490px;
		}
		.multi-sider-container{
			margin: 0 30px;
		}

	}	
	@media (min-width: 1200px) {
		.slider {
				width: 490px;
				margin: 0;
				padding: 0;
				float: none;
		}	
		ul.boolean-input{
			padding:0 30px;
		} 
		ul.boolean-input li{
			width:130px;
			margin: 0 40px 15px 0;

		}
		ul.boolean-input li:nth-of-type(3n){
			margin-right:0;
			margin-left:0;
		}
		.not-selected:hover{
			opacity: 1;
			-webkit-box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2);
			box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2);
		}
		.title-container {
			width: 52%;
		}
		.multi-sider-container{
			margin: 0 30px;
		}
		.multislider .noUi-target {
			height: 23px;
		}
		.multislider .noUi-base:after {
			width: calc(100% - 13px);
		}
		.multislider .noUi-base .noUi-connect {
			margin: 10px 0 0 10px;
		}
		.slider-input-container{
			width: 490px;
		}
	}

