<div *ngIf="introData !== undefined">
<!--Assessment MEDIA template-->	
	<div class="assessmentMedia xs-acol-12 sm-acol-12 acol-6 no-padding">

		<div class="singleAssesmentImg" [ngStyle]="{background:'transparent url('+introData.mediaIntro.imageSrc+') no-repeat center center/cover'}"></div>
	</div>
		<!--Assessment intro template-->	
	<div class="xs-acol-12 acol-6 assessment-intro">
		<h4 class="title-intro">{{introData.assessmentIntro.introSubtitle}}</h4>
		<p class="paragraph-intro">{{introData.assessmentIntro.introParagraph}}</p>
		<span class="singleQANumber"> {{introData.Quiz.theQuestions.length}} Questions
		</span>
		<button id="start-single" class="menu-btn" name="singleButton" (click)="showAssessment()">
			{{introData.assessmentIntro.singleAssessmentButton}}
		</button>
	</div>
</div>