<div>
<!--Assessment QUESTION template-->	
	<div class="content" data-bind="">
		<div class="section-question"> 
			<div class="question-inner" [ngStyle]="{transform:'translateX(' + transform + '%)', width: length * 100 + '%' }" >

				<div class="question" *ngFor="let question of appData.Quiz.theQuestions; let i=index" [hidden]="i !== activeSlide">
					<h5>{{question.id +' . ' + question.question }}</h5>
					<div class="instructions-container">
						<span *ngIf="question.instructions" class="instructions">
							{{question.instructions}}
						</span>
					</div>	
					<div class="question-body" *ngIf="question.inputType=='checkbox'">
						<checkbox [question]="question"></checkbox>
					</div>
					<div class="question-body" *ngIf="question.inputType=='radio'">
						<radio [question]="question"></radio>
					</div>
					<div class="question-body" *ngIf="question.inputType=='slider'">
						<slider [question]="question"></slider>
					</div>
					<div class="question-body" *ngIf="question.inputType=='multislider'">
						<multislider [question]="question"></multislider>
					</div>
					<div class="question-body" *ngIf="question.inputType=='dropdown'">
						<dropdown [question]="question"></dropdown>
					</div>
					<div class="question-body" *ngIf="question.inputType=='openQuestion'">
						open question
					</div>
				</div>
			</div>
		</div>
		<footer>
			<button class="prev-btn" (click)="prev()">PREVIOUS</button>
			<span class="progress">
				{{activeSlide+1}}
				of 
				{{length}}
				
			</span>
			<button class="next-btn" (click)="next()" [hidden]="activeSlide+1==appData.Quiz.theQuestions.lenght">NEXT</button>
			<button class="next-btn results-btn" id="results" [hidden]="activeSlide+1!==appData.Quiz.theQuestions.lenght">VIEW MY RESULTS</button>
		</footer>
	</div>
</div>