<div class="nav-cards a-row" *ngIf="appData !== undefined">
  <nav class="singleAssessment">
    <div *ngIf="!showAssessment && !surveyCompleted">
      <h3>{{appData.assessmentIntro.introTitle}}</h3>
      <div class="a-row section-single">
        <app-intro (showTheAssessment)="showAssessmentReceive($event)"></app-intro>
      </div>
    </div>


    <div *ngIf="showAssessment ==true && surveyCompleted ==false">
       <h3 class="in-assessment">{{appData.assessmentIntro.introTitle}}</h3>
       <question (evalQuiz)="evaluateQuizReceive($event)" [appData]="appData"></question>
    </div>
		
    <div *ngIf="surveyCompleted==true" class="results">
      <h3 class="in-assessment">{{appData.assessmentIntro.introTitle}}</h3>
      <div class="section">
          <results [result]="result"></results>
      </div>
    </div>
  </nav>
</div>
{{sumValues}}