<!--The content below is only a placeholder and can be replaced.-->

<div class="nav-cards a-row" *ngIf="appData !== undefined">
  <nav class="singleAssessment">
    <div [hidden]="showAssessment==true">
      <h3>{{appData.assessmentIntro.introTitle}}</h3>
      <div class="a-row section-single">
        <app-intro (showTheAssessment)="showAssessmentReceive($event)"></app-intro>
      </div>
    </div>


    <div [hidden]="showAssessment==false">
       <h3 class="in-assessment">{{appData.assessmentIntro.introTitle}}</h3>
       <question [appData]="appData"></question>
    </div>
    <div data-bind="visible:$component.surveyCompleted()">
      <h3 class="in-assessment" data-bind="text:data.assessmentIntro.introTitle"></h3>
      <div class="content">
          <div>results</div>
      </div>
    </div>
  </nav>
</div>