<!--The content below is only a placeholder and can be replaced.-->

<div class="nav-cards a-row" *ngIf="appData !== undefined">
  <nav class="singleAssessment">
    <div data-bind="visible:showAssessment()==false && surveyCompleted()==false">
      <h3>{{appData.assessmentIntro.introTitle}}</h3>
      <div class="a-row section-single">
        <app-intro></app-intro>
      </div>
    </div>


    <div data-bind="visible:$component.showAssessment() && $component.surveyCompleted()==false" >
      <h3 class="in-assessment" data-bind="text:data.assessmentIntro.introTitle"></h3>
       <div>Questions</div>
    </div>
    <div data-bind="visible:$component.surveyCompleted()">
      <h3 class="in-assessment" data-bind="text:data.assessmentIntro.introTitle"></h3>
      <div class="content">
          <div>results</div>
      </div>
    </div>
  </nav>
</div>